p{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 40px;
    font-style: italic;
    font-variant: small-caps;
}

#hardik{
    color: bisque;
    font-size: 20px;
    font-family:"Bungee", sans-serif; ;
    font-weight: 30px;
    font-style: normal;
}


@font-face {
    font-family: jadav hardik;
    src: url("Bungee sans-serif");
}{

}