p{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 80px;
    font-style: italic;
    font-variant: small-caps;
}

#abc{
    color: bisque;
    font-size: 50px;
    font-family:"Playwrite NZ Basic Guides", cursive ;
    font-weight: 30px;
    font-style: normal;

}
/* custom fonts */
@font-face{
    font-family:jayesh ;
    src: url(Bungee-Regular.ttf);
}
h6{
    color: black;
    font-family: jayesh;
    font-size: 30px;
}

h3{

    font-family: "Bungee", sans-serif;
  font-weight: 10px;
  font-style: normal;
}