h5{color:black  ;
            background-color:lightslategray;
        }

        h3{
            color: paleturquoise;
            background-color: plum;

        }

        #jayesh9{
            color:blue;
            background-color: silver;
            font-size: 20px;
        }

        .jayesh8{
            color: gold;
            background-color: maroon;

        }